{% extends 'base.html' %}

{% block content %} 

      <h4>Employee List:</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Contact Number</th>
          </tr>
        </thead>
        <tbody>
          {% for emp in employees %}
          <tr>
            <th>{{ forloop.counter }}</th>
            <td><a href="{% url 'employee_details' emp.id %}">{{ emp.first_name }} {{emp.last_name}}</a></td>
            <td>{{ emp.designation }}</td>
            <td>{{ emp.phone_number }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% endblock %}





